<h3>Topics <%= link_to 'New Topic', new_topic_path, class: 'btn btn-sm btn-primary' %></h3>

<table class="table">
  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td>
          <p>
            <%= link_to topic.title, topic %>
            (updated <%= time_ago_in_words(topic.created_at) %> ago)
          </p>
          <p>
            <i class="text-muted"><%= topic.content[0..100] %>...</i>
          </p>
        </td>
        <td class="text-right text">
          <%= topic.user.name %>
          <img style="width: 55px" src="<%= topic.user.photo_url %>" alt="<%= topic.user.name %>'s photo">
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
