<h1>Topics</h1>

<table class="table">
  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td>
          <p>
            <%= link_to topic.title, topic %>
          </p>
          <p>
            <%= topic.content[0..100] %>
          </p>
          <p>
          </p>
          <blockquote className="blockquote mb-0 text-right">
            <footer className="blockquote-footer">
              <img style="width: 75px" src="<%= topic.user.photo_url %>" alt="<%= topic.user.name %>'s photo">
              <%= topic.user.name %>
            </footer>
          </blockquote>
          Last updated <%= time_ago_in_words(topic.created_at) %> ago
        </td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>
