<h1><%= @topic.title %></h1>
<p>
  <%= @topic.content %>
  <footer class="blockquote-footer">
    <%= @topic.user.name %>, <%= time_ago_in_words @topic.created_at %> ago
  </footer>
</p>

<% @topic.posts.each do |post| %>
  <%= render post %>
  <hr>
<% end %>

<%#= link_to 'Edit', edit_topic_path(@topic) %>
<%#= link_to 'Back', topics_path %>
