<h3>Replying to <%= post.topic.title %>...</h3>
<%= form_with(model: post, local: true) do |form| %>
  <%= render 'shared/errors', object: post %>
  <div class="form-group">
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :topic_id %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Save', class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
