<!DOCTYPE html>
<html>
  <head>
    <title>LibreForum</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'frontend' %>
  </head>
  <body class="container-fluid">
    <%= render 'shared/navigation'%>
    <%= render 'shared/alert'%>
    <div class="wrapper pt-2 pb-2">
      <%= yield %>
    </div>
  </body>
</html>
